{{> head }}

{{> navbar }}
<div>
    <div class="col-8">
        <h1>
            Mariana García Perez y Santiago
        </h1>
        <p>
            djdkljsd skjsdk dskljsdk ljsdk sdjksdjksdjksdjkj
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/{{ imagen }}" class="img-thumbnail">
    </div>

</div>
{{> footer }}